body {
    font-family: Cambria, sans-serif;
    font: bolder;
    margin: 0;
    padding: 0;
    background-color: #215fa0;
    align-items: center;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
    color: #e8dede;
    align-items: center;

}

h2{
    color: #333;
    align-items: center;
    text-align: center;
}

h3{
    color: #333;
    align-items: center;
    text-align: left;

}

form {
    margin-bottom: 20px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="date"],
form select {
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px);
}

form button {
    padding: 10px 15px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

form button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.edit, .remove {
    cursor: pointer;
    margin-left: 10px;
}

#relatorio-desempenho table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#relatorio-desempenho th, #relatorio-desempenho td {
    border: 1px solid #ddd;
    padding: 8px;
}

#relatorio-desempenho th {
    background-color: #f2f2f2;
    text-align: left;
}

header {
    display: flex;
    align-items: center;
}

header img {
    width: 100px;
    height: auto;
    margin-right: 10px;
    align-items: center;
}



@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    form input[type="text"],
    form input[type="email"],
    form input[type="password"],
    form input[type="date"],
    form select {
        width: calc(100% - 22px);
        margin-right: 0;
    }

    form button {
        width: 100%;
    }
}
